body {
	font-family: 'Crimson Text', serif;
	color: #fff;
}

html, body, #root, #root>div {
    height: 100%;
    margin: 0;
}

 a {
 	text-decoration: none;
 	color: inherit;

 }

.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	transition: opacity .5s ;
	opacity: 0;
	display: none;
}

